@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: rgb(21, 43, 53);
}

/* Media Queries */
@media (min-width: 1024px) {
  .home__title {
    font-size: 4.5rem;
    color: blue;
  }

  .home__image {
    visibility: visible;
  }
}
