@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
}

.no-scroll {
  overflow: hidden;
}

.nav-icon {
  transition: transform 0.3s ease-in-out;
}

.nav-link:hover .nav-icon {
  transform: scale(1.2);
}

/* Media Queries */
@media (min-width: 1024px) {
  .home__title {
    font-size: 4.5rem;
    color: blue;
  }
}
