@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
}

.no-scroll {
  overflow: hidden;
}

.nav-icon {
  transition: transform 0.3s ease-in-out;
}

.nav-link:hover .nav-icon {
  transform: scale(1.2);
}

.case-study .description {
  position: absolute;
  bottom: 0px;
  left: 15px;
  color: black;
  background-color: rgba(255, 255, 255, 0.95);
}

.glass {
  background: rgba(255, 255, 255, 0.45);
}


/* Mobile styles */
@media (max-width: 767px) {
  .case-study .description {
    transform: none; /* Ensure the description is always visible */
  }
}

/* Larger screens styles */
@media (min-width: 768px) {
  .case-study .description {
    opacity: 0;
    bottom: 20px;
    transform: translateY(10%);
    transition: 0.3s ease-in-out;
  }

  .case-study:hover .description {
    opacity: 1;
    transform: translateY(0);
  }
}

/* Media Queries */
@media (min-width: 1024px) {
  .home__title {
    font-size: 4.5rem;
    color: blue;
  }
}

::-webkit-scrollbar {
  display: none;
}